<%- include('partials/header') -%>

<body class="body-bg min-vh-100 d-flex flex-column">
  <div class="container py-4 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5 primary-text"><i class="fa fa-paw primary-text"></i> Welcome!</h3>
            <!-- Google Oauth -->

            <a class="btn btn-lg btn-block btn-primary border-0" href="/auth/google">
              <i class="fab fa-google me-2"></i> Sign in with Google
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include('partials/footer') -%>
