:root {
  --main-color: rgb(101, 67, 0);
  --secondary-color: rgb(235, 205, 106);
  --button-color: white;
  --header-color: rgb(187, 57, 57);
  --button-profile: rgb(187, 57, 57);
  --border-radius: 10px;
  --border: none;
  --button-background-color: rgb(187, 57, 57);
}

.body-bg {
  background-color: var(--main-color);
  background-image: linear-gradient(330deg, var(--main-color) 0%, var(--secondary-color) 74%);
}

.btn-primary {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border: var(--border);
  border-radius: var(--border-radius);
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 20rem var(--main-color);
}

.header-text {
  color: var(--header-color);
}

.user {
  font-weight: bold;
}

.post-card {
  margin: auto;
  max-width: 750px;
}

.comment-card {
  border: 1px solid rgb(185, 185, 185);
}
